<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="warrantree.upscale.warrantreeconsumer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name="com.wintech.shoped.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.wintech.shoped.UserLoginActivity" />
        <activity android:name="com.wintech.shoped.HomeActivity" />
        <activity android:name="com.wintech.shoped.UserLoginMailActivity" />
        <activity
            android:name="com.wintech.shoped.OngoingClaimsActivity"
            android:parentActivityName="com.wintech.shoped.HomeActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="warrantree.upscale.warrantreeconsumer.com.wintech.shoped.HomeActivity" />
        </activity>
        <activity
            android:name="com.wintech.shoped.SharingActivity"
            android:parentActivityName="com.wintech.shoped.HomeActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="warrantree.upscale.warrantreeconsumer.com.wintech.shoped.HomeActivity" />
        </activity>
        <activity
            android:name="com.wintech.shoped.AddItemsActivity"
            android:parentActivityName="com.wintech.shoped.HomeActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="warrantree.upscale.warrantreeconsumer.com.wintech.shoped.HomeActivity" />
        </activity>
        <activity
            android:name="com.wintech.shoped.RegisteredItemsActivity"
            android:parentActivityName="com.wintech.shoped.HomeActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="warrantree.upscale.warrantreeconsumer.com.wintech.shoped.HomeActivity" />
        </activity>
        <activity
            android:name="com.wintech.shoped.ServiceRequestActivity"
            android:parentActivityName="com.wintech.shoped.HomeActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="warrantree.upscale.warrantreeconsumer.com.wintech.shoped.HomeActivity" />
        </activity>
        <activity
            android:name="com.wintech.shoped.RemindersActivity"
            android:parentActivityName="com.wintech.shoped.HomeActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="warrantree.upscale.warrantreeconsumer.com.wintech.shoped.HomeActivity" />
        </activity>
        <activity
            android:name="com.wintech.shoped.UserProfileActivity"
            android:parentActivityName="com.wintech.shoped.HomeActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="warrantree.upscale.warrantreeconsumer.com.wintech.shoped.HomeActivity" />
        </activity>
        <activity android:name="com.wintech.shoped.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>